body {
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
}

header {
	justify-content: space-between;
	align-items: center;
	background-color: #f7f4e9;
	color: #000000;
	padding: 10px;
	text-align: center;
}

/* NAV */
nav {
	display: flex;
	justify-content: center;
	background-color: #0a2138;
}

nav a {
	color: #fff;
	text-decoration: none;
	padding: 15px;
	margin: 0 10px;
	font-weight: bold;
}

nav a.active {
	background-color: #123256;
	color: rgb(255, 255, 255);
}

nav a:hover {
	background-color: #fecf49;
	color: black;
}

footer {
	background-color: #333;
	color: #fff;
	padding: 10px;
	text-align: center;
}

/* search */
#search-box {
	width: 100%;
}

#input {
	width: 100%;
	max-width: 40%;
	padding: 15px;
	font-size: 16px;
	border: 3px solid #fecf49;
}

#searchBtn {
	padding: 15px;
	font-size: 16px;
	background-color: #fecf49;
	cursor: pointer;
}

#searchBtn:hover {
	color: rgb(255, 255, 255);
	background-color: #123256;
}
/* logo */
.logo-container {
	display: flex;
	justify-content: left;
	margin-top: -6.5%;
	margin-bottom: -15%;
}

.logo-container img {
	max-width: 100%;
	height: auto;
}

/* */
.names {
	display: flex;
	justify-content: left;
}

.title-container {
	display: flex;
	justify-content: center;
}

@media screen and (max-width: 600px) {
	.logo-container {
		display: flex;
		justify-content: left;
	}
	nav {
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
	}

	nav a {
		margin: 0;
		text-align: center;
	}
}

h2 {
	display: flex;
	justify-content: center;
}

a {
	text-decoration: none;
}
.names {
	margin-left: -1%;
	justify-content: left;
}

/* Feedback */
.title-feedback {
	display: flex;
	justify-content: left;
	margin-left: 1%;
	margin-bottom: 1%;
}

.text-feedback {
	margin-left: 1%;
	max-width: 60%;
	margin-bottom: 3%;
}

form {
	display: flex;
	margin-left: 1%;
	margin-bottom: 1%;
	flex-direction: column;
	max-width: 300px;
}

label {
	margin-bottom: 5px;
}

input,
textarea {
	margin-bottom: 10px;
}

.form-border {
	border: 2px solid #fecf49;
}

.send-button {
	padding: 5px;
	font-size: 14px;
	background-color: #fecf49;
	cursor: pointer;
}

.send-button:hover {
	color: rgb(255, 255, 255);
	background-color: #123256;
}

/*О проекте*/
.text-aboutproject {
	max-width: 60%;
	margin-left: 1%;
	margin-bottom: 2%;
}

.title-aboutproject {
	display: flex;
	justify-content: left;
	margin-left: 1%;
}

/* Кенты */
.title_people {
	display: flex;
	justify-content: center;
}

.discribe-people {
	max-width: 70%;
	margin: 0 auto;
	margin-bottom: 1%;
}

/*  */
.custom-link:visited {
	color: #0966ca;
}

.custom-link:hover {
	color: black;
}
